DJANGO_ENV=dev # prod
DJANGO_SECRET_KEY=your-super-secret-key-here
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,watchlog.com

TMDB_API_KEY=your-tmdb-api-key

# Lobby realtime + recommendations
CHANNEL_REDIS_URL=redis://redis:6379/0
OLLAMA_URL=http://100.99.131.45:11434
OLLAMA_PITCH_MODEL=qwen3:latest

POSTGRES_DB=watchlog
POSTGRES_USER=watchlog
POSTGRES_PASSWORD=watchlog
POSTGRES_HOST=db
POSTGRES_PORT=5432

ENVIRONMENT=production
