{% extends "core.html" %}

{% block body %}
<style>
    html, body {
        height: 100%;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .content-wrapper {
        flex: 1;
    }
</style>

<div class="main-container">
    <header class="container-fluid mt-4">
        <div class="row mb-3 align-items-center">

            <div class="col-auto ps-4">
                <h1>
                    <a href="{% url 'index' %}" class="header-link text-light text-decoration-none">watchlog</a>
                </h1>
            </div>

            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Groups
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                        {% for group in groups %}
                            <li>
                                <button type="button" class="dropdown-item" onclick="location.href='{% url 'group' slug=group.slug %}'">{{ group.name }}</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col"></div>

            <div class="col-auto d-flex justify-content-end gap-4 pe-4">
                <button class="btn btn-outline-light" onclick="location.href='{% url 'profile' %}'" aria-label="Profile">Profile</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinGroupModal" aria-label="Join Group">Join Group</button>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createGroupModal" aria-label="Create Group">Create Group</button>
            </div>
        </div>
    </header>

    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-dark text-light text-center py-3 mt-auto">
        <p>&copy; 2024 Watchlog</p>
    </footer>
</div>

{% include 'join_group_modal.html' %}
{% include 'create_group_modal.html' %}
{% endblock %}
