{% extends 'base.html' %}

{% block content %}
<style>
    .placeholder-light::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
</style>
<main class="container justify-content-center align-items-center">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="search-results mt-3">
                <form id="searchForm" method="POST" action="{% url 'search_movies' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control bg-dark text-light placeholder-light border-secondary" name="query" placeholder="Search title..." aria-label="Search title..." aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            <div id="searchResults" class="mt-4 d-flex flex-wrap justify-content-center g-1"></div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var form = this;
        var formData = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            var searchResultsDiv = document.getElementById('searchResults');
            searchResultsDiv.innerHTML = '';
            if (data.movies && data.movies.length > 0) {
                var filteredMovies = data.movies.filter(movie => movie.poster_url);
                filteredMovies.forEach(function(movie) {
                    var groupDropdown = `
                        <div class="dropdown mt-3 d-grid col-6 mx-auto">
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton_${movie.id}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add to group
                            </button>
                            <div class="dropdown-menu" data-bs-theme="dark" aria-labelledby="dropdownMenuButton_${movie.id}">
                                {% for group in groups %}
                                    <form method="POST" action="{% url 'add_movie' %}" class="add-movie-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="movie_id" value="${movie.id}">
                                        <input type="hidden" name="media_type" value="${movie.media_type}">
                                        <input type="hidden" name="group_uuid" value="{{ group.uuid }}">
                                        <button type="submit" class="dropdown-item d-flex">{{ group.name }}</button>
                                    </form>
                                {% endfor %}
                            </div>
                        </div>
                    `;

                    var movieCard = `
                        <div class="col-auto mb-1 mx-2">
                            <div class="card bg-dark text-light" style="width: 220px;">
                                <img src="${movie.poster_url}" class="card-img-top img-fluid rounded-start" style="width: 100%; height: auto;" alt="${movie.title}">
                                <div class="card-body p-2">
                                    <h6 class="card-title mb-1">${movie.title}${movie.year ? ` (${movie.year})` : ''}</h6>
                                    ${groupDropdown}
                                </div>
                            </div>
                        </div>
                    `;
                    searchResultsDiv.innerHTML += movieCard;
                });

                $('.dropdown-toggle').dropdown();
            } else {
                searchResultsDiv.innerHTML = '<p class="text-light">No movies found.</p>';
            }
        })
        .catch(error => console.error('Error:', error));
    });

    function addMessage(message) {
        var messageDiv = document.createElement('div');
        messageDiv.classList.add('alert', 'alert-success', 'mt-3');
        messageDiv.textContent = message;
        document.getElementById('searchForm').insertAdjacentElement('afterend', messageDiv);
        setTimeout(function() {
            messageDiv.remove();
        }, 1500);
    }

    document.addEventListener('submit', function(event) {
        if (event.target.classList.contains('add-movie-form')) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                addMessage(data.msg);
            })
            .catch(error => {
                console.error('Error:', error);
                addMessage('Failed to add the movie.');
            });
        }
    });
</script>
{% endblock %}
